# **Print First and Last Characters**

Declare a string and print the first character.

In [1]:
name='Milyani'
name[0]

'M'

Print the last character of the string.

In [3]:
name[6]

'i'

# **Extract Substring**

Declare a string and extract a substring containing the first three characters.

In [4]:
sub='English'
sub[0:3]

'Eng'

Extract a substring that starts from the third character to the end of the string.

In [6]:
sub[2:]

'glish'

# **Print Even and Odd Positions**

Declare a string and print characters at even positions (0-based index)

In [8]:
x='MilyaniPatil'
x[0::2]

'Mlaiai'

Print characters at odd positions of the string

In [9]:
x[1::2]

'iynPtl'

# **Reverse a String**

Declare a string and print it in reverse order.

In [12]:
x='MilyaniPatil'
x[::-1]

'litaPinayliM'

# **Slice with Stride**

Declare a string and print every second character using slicing

In [15]:
x='MilyaniPatil'
x[1::2]

'iynPtl'

# **Negative Indexing**

Declare a string and use negative indexing to print the last three characters.

In [16]:
x='MilyaniPatil'
x[-3:]

'til'

# **Substring Replacement**

Declare a string and replace a specific substring with another

In [17]:
a="Milyani have three sisters"
a.replace("Milyani","Kalyani")

'Kalyani have three sisters'

# **Slice from the End**

Declare a string and extract the last four characters using slicing

In [18]:
x="Milyani's nick name is minu"
x[-4:]

'minu'

# **Omitting Start or End Index**

Declare a string and print the first three characters without specifying the start index

In [20]:
x="Milyani's nick name is minu"
x[:3]

'Mil'

Print the last four characters without specifying the end index.

In [21]:
x="Milyani's nick name is minu"
x[-4:]

'minu'

# **Slice with Variables**

Declare a string and use variables to dynamically define start and end indices for slicing.

In [23]:
x="Milyani's nick name is minu"
y=1
z=14
variables=x[y:z]
variables

"ilyani's nick"

# **Empty String Slicing**

Declare an empty string and attempt to perform string slicing. Observe the result

In [28]:
x='   '         #defining index to the space 
x[1:]

'  '

# basic questions related to string functions in Python

# 1.String Length

Declare a string and find its length using the len() function.

In [30]:
x="Milyani's nick name is minu"
len(x)

27

# 2.Uppercase and Lowercase

In [31]:
x="Milyani's nick name is minu"
x.upper()

"MILYANI'S NICK NAME IS MINU"

In [32]:
x="Milyani's nick name is minu"
x.lower()

"milyani's nick name is minu"

 # 3.Count Occurrences

Declare a string and count the number of occurrences of a specific character.

In [36]:
x="Milyani's nick name is minu"
x.count("i")

5

# 4.String Concatenation

Declare two strings and concatenate them into a single string

In [38]:
first_name="Milyani"
last_name="Patil"
Full_name=first_name+' '+last_name
Full_name

'Milyani Patil'

# 5.String Repetition

Declare a string and repeat it three times

In [42]:
x="Milyani's nick name is minu"
repeated_string=x*3
repeated_string

"Milyani's nick name is minuMilyani's nick name is minuMilyani's nick name is minu"

# 6.Find Substring

Declare a string and find the index of a specific substring

In [44]:
x="Milyani's nick name is minu"
x.find("nick")

10

# 7.Replace Substring

Declare a string and replace a specific substring with another.

In [46]:
x="Milyani's nick name is minu"
x.replace("minu","mily")

"Milyani's nick name is mily"

# 8.String Stripping

Declare a string with leading and trailing whitespaces, and remove them using the strip() function

In [48]:
x="  Milyani's nick name is minu  "
x.strip()

"Milyani's nick name is minu"

# 9.String Splitting

Declare a string representing a sentence and split it into a list of words using the split() function.

In [53]:
x="Milyani's nick name is minu"
x.split()

["Milyani's", 'nick', 'name', 'is', 'minu']

# 10.Joining Strings

Declare a list of words and join them into a sentence using the join() function

In [61]:
list_of_words=['a','m','a','z','i','n','g']
"".join(list_of_words)

'amazing'

# 11.Checking Start and End

Declare a string and check if it starts with a specific prefix.

In [65]:
x="Milyani's nick name is minu"
prefix="Miss"
if x.startswith(prefix):
    print(f'the string start with {prefix}')
else:
    print(f'the string not start with {prefix}')

the string not start with Miss

# 12.Character Isolation

Declare a string and use indexing to isolate and print the third character.

In [68]:
x="Milyani's nick name is minu"
isolate=x[2]
print(isolate)

l

# 13.String Formatting

Declare variables for a person's name and age, and use string formatting to create a sentence.

In [69]:
person_name="Sheela"
age=26
print(f'My name is {person_name} and my age is {age}')

My name is Sheela and my age is 26